.App {
  text-align: center;
  padding: 20px;
}

.form {
  margin: 20px auto;
  width: 80%;
}

.input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
}

.submit-button {
  padding: 10px 20px;
}

.response {
  text-align: left;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  overflow-x: auto;
}

.response-card {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.response-item {
  margin-bottom: 10px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.filter-select {
  width: 30%;
}

.filter-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 70%;
}

.filter-item {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px; /* Add right margin to each filter item */
}

.remove-button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  margin-left: 10px;
}